body {
    background-color: darkolivegreen;
}

#form {
    /* align-items: center; */
    background-color: lightgrey;
    padding: 15px;
    width: 50%;
    margin: 20px auto;
}

#top-area {
    display: flex;
}

#fat-award {
    background-color: black;
    padding: 15px;
    width: 25%;
    margin: 20px auto;
    color: white;
    font-size: 2em;
}

#river {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 30px auto;
    padding: 20px;
}

.entire-bear-card {
    min-width: 286px;
    margin: 10px;
}

header {
    min-width: 943px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.header-text {
    padding: 30px;
    font-size: 2.2em;
    color: white;
    text-transform: uppercase;
}

.form-title {
    font-weight: bold;
    margin: 10px 0px;
}

.fat-bear {
    margin: 5px;
}

#fat-winners ul {
    list-style: none;
}

.trophy0 {
    color: gold;
}

.trophy1 {
    color: silver
}

.trophy2 {
    color: brown;
}